1590593189-1676[1]/remoting/Local/Web References/Customers/customerdata.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.wrox.com/webservices/4923/customer-orders" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.wrox.com/webservices/4923/customer-orders" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.wrox.com/webservices/4923/customer-orders">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:element name="GetCustomers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCustID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCustName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCustomersResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOrders">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCustID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOrdersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOrdersResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="GetCustomersSoapIn">
    <part name="parameters" element="s0:GetCustomers" />
  </message>
  <message name="GetCustomersSoapOut">
    <part name="parameters" element="s0:GetCustomersResponse" />
  </message>
  <message name="GetOrdersSoapIn">
    <part name="parameters" element="s0:GetOrders" />
  </message>
  <message name="GetOrdersSoapOut">
    <part name="parameters" element="s0:GetOrdersResponse" />
  </message>
  <message name="GetCustomersHttpGetIn">
    <part name="strCustID" type="s:string" />
    <part name="strCustName" type="s:string" />
  </message>
  <message name="GetCustomersHttpGetOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <message name="GetOrdersHttpGetIn">
    <part name="strCustID" type="s:string" />
  </message>
  <message name="GetOrdersHttpGetOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <message name="GetCustomersHttpPostIn">
    <part name="strCustID" type="s:string" />
    <part name="strCustName" type="s:string" />
  </message>
  <message name="GetCustomersHttpPostOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <message name="GetOrdersHttpPostIn">
    <part name="strCustID" type="s:string" />
  </message>
  <message name="GetOrdersHttpPostOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <portType name="CustomerOrdersSoap">
    <operation name="GetCustomers">
      <input message="s0:GetCustomersSoapIn" />
      <output message="s0:GetCustomersSoapOut" />
    </operation>
    <operation name="GetOrders">
      <input message="s0:GetOrdersSoapIn" />
      <output message="s0:GetOrdersSoapOut" />
    </operation>
  </portType>
  <portType name="CustomerOrdersHttpGet">
    <operation name="GetCustomers">
      <input message="s0:GetCustomersHttpGetIn" />
      <output message="s0:GetCustomersHttpGetOut" />
    </operation>
    <operation name="GetOrders">
      <input message="s0:GetOrdersHttpGetIn" />
      <output message="s0:GetOrdersHttpGetOut" />
    </operation>
  </portType>
  <portType name="CustomerOrdersHttpPost">
    <operation name="GetCustomers">
      <input message="s0:GetCustomersHttpPostIn" />
      <output message="s0:GetCustomersHttpPostOut" />
    </operation>
    <operation name="GetOrders">
      <input message="s0:GetOrdersHttpPostIn" />
      <output message="s0:GetOrdersHttpPostOut" />
    </operation>
  </portType>
  <binding name="CustomerOrdersSoap" type="s0:CustomerOrdersSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetCustomers">
      <soap:operation soapAction="http://www.wrox.com/webservices/4923/customer-orders/GetCustomers" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetOrders">
      <soap:operation soapAction="http://www.wrox.com/webservices/4923/customer-orders/GetOrders" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="CustomerOrdersHttpGet" type="s0:CustomerOrdersHttpGet">
    <http:binding verb="GET" />
    <operation name="GetCustomers">
      <http:operation location="/GetCustomers" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetOrders">
      <http:operation location="/GetOrders" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="CustomerOrdersHttpPost" type="s0:CustomerOrdersHttpPost">
    <http:binding verb="POST" />
    <operation name="GetCustomers">
      <http:operation location="/GetCustomers" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetOrders">
      <http:operation location="/GetOrders" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="CustomerOrders">
    <documentation>4923 Customer Orders Service</documentation>
    <port name="CustomerOrdersSoap" binding="s0:CustomerOrdersSoap">
      <soap:address location="http://localhost/4923/customer-orders/webservices/customer-data.asmx" />
    </port>
    <port name="CustomerOrdersHttpGet" binding="s0:CustomerOrdersHttpGet">
      <http:address location="http://localhost/4923/customer-orders/webservices/customer-data.asmx" />
    </port>
    <port name="CustomerOrdersHttpPost" binding="s0:CustomerOrdersHttpPost">
      <http:address location="http://localhost/4923/customer-orders/webservices/customer-data.asmx" />
    </port>
  </service>
</definitions>