1590593189-1676[1]/remoting/RemoteFormsApplication/Orders/Web References/Orders/orderdetails.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.wrox.com/webservices/4923/remoting" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.wrox.com/webservices/4923/remoting" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.wrox.com/webservices/4923/remoting">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:element name="Orders">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCustID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OrdersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OrdersResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Lookups">
        <s:complexType />
      </s:element>
      <s:element name="LookupsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LookupsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="OrdersSoapIn">
    <part name="parameters" element="s0:Orders" />
  </message>
  <message name="OrdersSoapOut">
    <part name="parameters" element="s0:OrdersResponse" />
  </message>
  <message name="LookupsSoapIn">
    <part name="parameters" element="s0:Lookups" />
  </message>
  <message name="LookupsSoapOut">
    <part name="parameters" element="s0:LookupsResponse" />
  </message>
  <message name="OrdersHttpGetIn">
    <part name="strCustID" type="s:string" />
  </message>
  <message name="OrdersHttpGetOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <message name="LookupsHttpGetIn" />
  <message name="LookupsHttpGetOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <message name="OrdersHttpPostIn">
    <part name="strCustID" type="s:string" />
  </message>
  <message name="OrdersHttpPostOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <message name="LookupsHttpPostIn" />
  <message name="LookupsHttpPostOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <portType name="RemotingOrdersSoap">
    <operation name="Orders">
      <input message="s0:OrdersSoapIn" />
      <output message="s0:OrdersSoapOut" />
    </operation>
    <operation name="Lookups">
      <input message="s0:LookupsSoapIn" />
      <output message="s0:LookupsSoapOut" />
    </operation>
  </portType>
  <portType name="RemotingOrdersHttpGet">
    <operation name="Orders">
      <input message="s0:OrdersHttpGetIn" />
      <output message="s0:OrdersHttpGetOut" />
    </operation>
    <operation name="Lookups">
      <input message="s0:LookupsHttpGetIn" />
      <output message="s0:LookupsHttpGetOut" />
    </operation>
  </portType>
  <portType name="RemotingOrdersHttpPost">
    <operation name="Orders">
      <input message="s0:OrdersHttpPostIn" />
      <output message="s0:OrdersHttpPostOut" />
    </operation>
    <operation name="Lookups">
      <input message="s0:LookupsHttpPostIn" />
      <output message="s0:LookupsHttpPostOut" />
    </operation>
  </portType>
  <binding name="RemotingOrdersSoap" type="s0:RemotingOrdersSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="Orders">
      <soap:operation soapAction="http://www.wrox.com/webservices/4923/remoting/Orders" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Lookups">
      <soap:operation soapAction="http://www.wrox.com/webservices/4923/remoting/Lookups" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="RemotingOrdersHttpGet" type="s0:RemotingOrdersHttpGet">
    <http:binding verb="GET" />
    <operation name="Orders">
      <http:operation location="/Orders" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="Lookups">
      <http:operation location="/Lookups" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="RemotingOrdersHttpPost" type="s0:RemotingOrdersHttpPost">
    <http:binding verb="POST" />
    <operation name="Orders">
      <http:operation location="/Orders" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="Lookups">
      <http:operation location="/Lookups" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="RemotingOrders">
    <documentation>4923 Remoting Orders Service</documentation>
    <port name="RemotingOrdersSoap" binding="s0:RemotingOrdersSoap">
      <soap:address location="http://localhost/4923/remoting/webservices/order-details.asmx" />
    </port>
    <port name="RemotingOrdersHttpGet" binding="s0:RemotingOrdersHttpGet">
      <http:address location="http://localhost/4923/remoting/webservices/order-details.asmx" />
    </port>
    <port name="RemotingOrdersHttpPost" binding="s0:RemotingOrdersHttpPost">
      <http:address location="http://localhost/4923/remoting/webservices/order-details.asmx" />
    </port>
  </service>
</definitions>